.container {
  height: 100%;
  max-width: 358px;
  padding: 0 8px;
  margin: 0 auto;
}

/* Контейнер для iPhone SE / 8+ */
@media (max-width: 375px) {
  .container {
    max-width: 343px;
  }

  /* Широкий контейнер для хедера iPhone SE / 8+ */
  .container--wide {
    max-width: 375px;
    padding: 0 5px;
  }
}

/* Контейнер для iPhone 8*/
@media (max-width: 320px) {
  .container {
    max-width: 310px;
    padding: 0 5px;
  }

  /* Широкий контейнер для хедера iPhone 8 */
  .container--wide {
    max-width: 320px;
    padding: 0 3px;
  }
}

/* Контейнер для iPhone XR*/
@media (min-width: 414px) {
  .container {
    max-width: 382px;
  }
}