.custom-radio {
  width: 100%;
  position: relative;
}

.custom-radio__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  min-height: 56px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(11px);
  padding: 8px 24px;
}

.custom-radio__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.custom-radio__slogan,
.custom-radio__right {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  opacity: 0.7;
}

.custom-radio__right {
  margin: 0;
  padding: 0;
  min-width: 91px;
  width: max-content;
  text-align: left;
}

.custom-radio__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 175px;
}

.custom-radio__best::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  border: 1px solid transparent;
  background: linear-gradient(270deg, #00B5FF 0%, #632AF7 53%, #FF96F4 100%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.custom-radio__best {
  position: absolute;
  width: 119px;
  min-height: 20px;
  top: 0;
  right: 24px;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, #BC1FEF 0%, #0035FF 100%);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 18px;
  min-width: max-content;
}

.custom-radio--best {

  .custom-radio__label::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 28px;
    border-radius: 0 100px 0 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    background: linear-gradient(141deg, #01B4FF -3%, rgba(1, 180, 255, 0) 100%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .custom-radio__label::after {
    content: "";
    position: absolute;
    top: 0;
    right: 132px;
    width: 128px;
    height: 1px;
    background: linear-gradient(108deg, rgba(253, 148, 244, 0) 25%, #FD94F4 76%);
    ;
  }

  .custom-radio__field:checked~.custom-radio__label::before,
  .custom-radio__field:checked~.custom-radio__label::after {
    display: none;
  }
}

.custom-radio__field:checked~.custom-radio__label {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
}

.custom-radio__field:checked~.custom-radio__best {
  background: #FFFFFF;
  color: #141131;
}

.custom-radio__field:checked~.custom-radio__best::before {
  display: none;
}