.header__wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0 15px;
}

.header__wrapper--se {
  display: none;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 11px;
}

.header__system-time {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
}

.header__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px 7px;
}

.header__icon {
  color: white;
}

.header__icon--signal {
  width: 19px;
  height: 12px;
}

.header__icon--wifi {
  width: 17px;
  height: 12px;
}

.header__icon--battery {
  width: 27px;
  height: 13px;
}

/* Размеры фона и шрифта для iPhone SE / 8 / 8+ */
@media (max-width: 375px) or (max-height: 736px) {

  .header__wrapper {
    display: none;
  }

  .header__wrapper.header__wrapper--se {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
    min-height: 21px;
  }


  .header__left {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .header__string {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
  }

  .header__icon--signal {
    width: 18px;
    height: 10px;
  }

  .header__icon--wifi {
    width: 16px;
    height: 11px;
  }

  .header__icon--bluetooth {
    width: 7px;
    height: 11px;
  }

  .header__icon--battery {
    width: 27px;
    height: 12px;
  }

  .header__center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__system-time {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
  }

  .header__right {
    gap: 2px;
  }
}