.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: end;
  padding: 0 0 32px;
}

.hero__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__btn-cross {
  position: fixed;
  color: rgba(255, 255, 255, 0.4);
  width: 12px;
  height: 12px;
  left: 22px;
  top: 70px;
  cursor: pointer;
}

.hero__btn-cross::before {
  display: block;
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: -6px;
  top: -6px;
  cursor: pointer;
}

.hero__btn-cross:hover {
  color: #ffffff;
}

.hero__title {
  font-size: 42px;
  line-height: 46px;
  font-weight: 800;
  text-align: center;
  margin: auto 0 24px;
  padding: 0;
}

.hero__cards-list {
  padding: 0;
  margin: 0 0 34px;
  list-style-type: none;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.hero__cards-item {
  width: 110px;
  height: 146px;
  padding: 12px 8px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: end;
  background-size: cover;
  background-color: #15072F;
}

.hero__card-title {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.hero__radio-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  border: none;
}

.hero__submit-btn {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  min-height: 56px;
  width: 100%;
  font-weight: 590;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 16px;
  margin: 8px 0 0;
  padding: 0;
  color: #070B33;
}

.hero__cards-item--art-creation {
  background-image: url("../../images/art-creation.png");
}

.hero__cards-item--exclusive-styles {
  background-image: url("../../images/exclusive-styles.png");
}

.hero__cards-item--magic-avatars {
  background-image: url("../../images/magic-avatars.png");
}

@media (min-resolution: 2dppx) {
  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation@2x.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles@2x.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars@2x.png");
  }
}


@media (min-resolution: 3dppx) {
  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation@3x.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles@3x.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars@3x.png");
  }
}


@media (min-resolution: 4dppx) {
  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation@4x.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles@4x.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars@4x.png");
  }
}

@media (max-width: 375px) {
  .hero {
    padding: 0 0 26px;
  }

  .hero__btn-cross {
    top: 43px;
  }

  .hero__title {
    margin: 0 0 16px;
  }

  .hero__cards-list {
    gap: 4px;
    margin: 0 0 26px;
  }

  .hero__cards-item {
    width: 106px;
    height: 139px;
    border-radius: 12px;
  }

  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation-se.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles-se.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars-se.png");
  }

  .hero__submit-btn {
    margin: 0;
  }
}

@media (max-width: 375px) and (min-resolution: 2dppx) {
  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation-se@2x.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles-se@2x.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars-se@2x.png");
  }
}

@media (max-width: 375px) and (min-resolution: 3dppx) {
  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation-se@3x.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles-se@3x.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars-se@3x.png");
  }
}


@media (max-width: 375px) and (min-resolution: 4dppx) {
  .hero__cards-item--art-creation {
    background-image: url("../../images/art-creation-se@4x.png");
  }

  .hero__cards-item--exclusive-styles {
    background-image: url("../../images/exclusive-styles-se@4x.png");
  }

  .hero__cards-item--magic-avatars {
    background-image: url("../../images/magic-avatars-se@4x.png");
  }
}